*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Poppins', sans-serif; 
    background-color: #24272E;
    
}

.header{
    margin-bottom: 170px;
    
}

.menu{
    background-color: #191A1F;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cont{
    max-width: 1200px;
    margin: 0 auto;

}

.logo{
    /* background-color: #f56349; */
    font-size: 100px;
    font-weight: 800;
    text-transform: uppercase;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: white;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover{
    color: black;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}


.contenedor {
    width: 80%;
    max-width: 1500px; /* Máximo ancho del formulario */
    margin: 0 auto; /* Centrar el contenedor */
}


.form-container {
    background-color: #24272E;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    margin: 50px auto; /* Centrar el formulario y dar un espacio en la parte superior e inferior */
    color: white; /* Color de texto blanco para el formulario */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid white; /* Añadimos solamente la línea inferior */
    border-radius: 0;
    background: transparent; /* Hacemos el fondo transparente */
    outline: none; /* Quitamos el borde predeterminado en el foco */
    color: white;
}

input[type="submit"] {
    background-color: #FF6816;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #4CAF50;
}


.footer{
    padding: 20px 0;
    background-color: #191A1F;
}

.footer-content{
    display: flex;
    justify-content: space-between;
}

.link h3{
    font-size: 17px;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.link a{
    font-size: 17px;
    color: #D4D4D4;
    display: block;
    margin-bottom: 10px;
}

.link a:hover{
    color: #f56349;
}



@media(max-width: 991px){

    .menu{
        padding: 20px;
    }

    .menu label{
        display: initial;
    }

    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #FF7838;
        display: none;
    }

    .menu .navbar ul li{
        width: 100%;
    }

    .menu .navbar ul li a:hover{
        color: #191A1F;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }

    .header{
        min-height: 0vh;
        padding: 100px 30px;
    }

    .header-txt{
        text-align: center;
        padding: 0;
    }

    .footer{
        padding: 30px;
    }

    .footer-content{
        flex-direction: column;
        text-align: center;
    }


}


